<template>
  <div>
    <div>
      <h1>Discount calculator</h1>
      <hr>
    </div>
    <div class="choices row">
      <div class="col-6">
        <button class="btn btn-sm" :class="{'selected': dish_choice == i}" @click="dish_choice=i" v-for="x, i in dishes">{{ x[0] }}</button>
      </div>
      <div class="col-6">
        <button class="btn btn-sm" :class="{'selected': drink_choice == i}" @click="drink_choice=i" v-for="x, i in drinks">{{ x[0] }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DiscountCalc',
  props: [],
  components: {
  },
  data: function () {
    return {
      dishes: [
        ["Dish A", 1],
        ["Dish B", 2],
      ],
      drinks: [
        ["Drink A", 1],
        ["Drink B", 2],
      ],
      dish_choice: 0,
      drink_choice: 0,
    };
  },
  computed: {
  },
  methods: {
  },
  mounted() {
  },
}
</script>

<style scoped>
.choices button {
  margin-top: 5px;
  display: block;
}
</style>
