<template>
  <div class="p-4">
    <img src="@/images/bg.jpg" class="head" />
    <div>
      <h2 class="m-1">Coupon claim</h2>
      <hr>
    </div>
    <div>
      <div class="alert alert-info">
        You're reclaiming coupon code:
        <div>
          <strong>{{ code }}</strong>
        </div>
      </div>
      <div>
        <label>Operator code:</label>
        <div>
          <input class="form-control" type="text" v-model="verify_code"/>
        </div>
      </div>
      <div class="alert alert-primary" v-if="msg">
        {{ msg }}
      </div>
      <div>
        <button class="btn btn-primary w-100" :disabled="verify_code.length < 3" @click="verify">Verify</button>
      </div>
      <div>
        <a href="/discount-calc" target="_blank">Discount calculator</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  props: [],
  components: {
  },
  data: function () {
    return {
      code: '',
      verify_code: "",
      msg: '',
    };
  },
  computed: {
  },
  methods: {
    async verify() {
      var url = 'https://coupon.famzheng.workers.dev/';
      this.msg = "Verifying..."
      try {
        var r = await this.axios.post(url, {
          code: this.code,
          verify_code: this.verify_code,
        });
        console.log(r.data);
        this.msg = "Succeeded!"
      } catch {
        this.msg = "Couldn't verify the provided code"
      }
    },
  },
  mounted() {
    this.code = this.$route.query.code;
  },
}
</script>

<style scoped>
div {
  margin-top: 1rem;
}
img.head {
  max-width:100%;
  max-height:100%;
}
</style>
